@import url('https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One');

$header-font: 'Fjalla One', sans-serif;
$body-font: 'Cantarell', sans-serif;
$font-color: #333;
$font-size: 16px;
$pink: #E14658;
$gunmetal: #22252C;
$gray: lightgray;
$border: 1px solid black;
$margin: 10px;
$logo-height: 60px;
$logo-width: 130px;
$shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


.dash_header {
    height: 20vh;
    background-color: $pink;
}

.dash_body {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: $margin;
}

.prof_sidenav {
    height: 40vh;
    border: $border;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.profile_img {
    border: $border;
    height: 160px;
    width: 160px;
    margin: $margin;
}

.user_info {
    margin: 15px;
    font-family: $body-font;
    font-size: $font-size;
    font-weight: bold;
}

.edit_buttons {
    font-family: $body-font;
    background-color: $pink;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    font-size: $font-size - 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19)
}

.edit_buttons:hover {
    background-color: $gunmetal;
}

.main_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.message_box {
    margin-top: $margin;
    // border: $border;
    height: 63vh;
    width: 35vw;
}

.dash_head {
    color: $pink;
    font-family: $header-font;
    font-size: $font-size + 5px;
    margin-bottom: $margin;
}

.my_home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: $margin;  
    h3 {
        color: $gunmetal;
        font-family: $body-font;
        font-size: $font-size + 5px;
    }
    h4 {
        color: $pink;
        font-family: $body-font;
        font-size: $font-size;
        margin-bottom: $margin * 2;
    }
}

.remove_button {
    font-family: $body-font;
    background-color: $pink;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: $font-size - 3px;
    box-shadow: $shadow;
    margin: auto;
}
